// Variable
$primary-color: #10455e;
$primary-sec-color: #073449;
$secondary-color: #0683c2;
$secondary-sec-color: #84d1f5;
$dark-light-color: #669a9c;
$show-image-home: true;
$show-image-other: true;
$image-home: url(../img/computer-display.jpg);
$image-other: url(../img/programing-area.jpg);
$background-opacity: 0.9;

// Mixin
@mixin easeOut {
    transition: all .5s ease;
}
// BACKGROUND FOR MAIN PAGE
@mixin background {
    @if $show-image-home {
        &#bg-image {
            background: linear-gradient(rgba(3, 48, 75, 0.938),
            rgba(1, 51, 71, 0.856)),
            $image-home ;
            background-attachment: fixed;
            background-size: cover;
        }
    }
}
// BACKGROUND FOR ABOUT PAGE
@mixin backgroundOther {
    @if $show-image-other {
        &#bg-image-all {
            background: linear-gradient(rgba(9, 43, 63, 0.966),
            rgba(29, 48, 56, 0.959)),
            $image-other ;
            background-attachment: fixed;
            background-size: cover;
        }
    }
}
// BACKGROUND FOR ABOUT PAGE SMALL SC!
@mixin backgroundOtherSm {
    @if $show-image-other {
        &#bg-image-all {
            background: linear-gradient(rgba(9, 43, 63, 0.966),
            rgba(29, 48, 56, 0.959)),
            $image-other ;
            background-attachment: fixed;
            background-size: cover;
            background-position: right;
        }
    }
}
// BTN PROJECT TECH
.project-tech {
    display: block;
    padding: .5rem 0;
    margin: 0 auto;
    .project-btn {
        font-size: .8rem;
        font-weight: bold;
        border-radius: 2px;
        display: inline-block;
        background: darken($secondary-color, $amount: 9) ;
        padding: .2rem .3rem;
        margin:.1rem 0;
        color: $primary-sec-color;
        cursor: pointer;
        &:hover {
            color: #ccc;
        }
    }
}
// Updateing Pargraphy ON Project CARD!
.proj-text {
    font-size: .8rem;
    font-weight: light;
    letter-spacing: 0.5px;
}

// Set Text Color 
@function set-text-color($color) {
    @if (lightness($color) > 40) {
        @return #000;
    }   @else {
        @return #fff;
    }
}

// Media Query Mixin

@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px)
    and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width: 1171px) {
        @content;
    }
}