// Widescreen style
@include mediaXl {
    .project {
        grid-template-columns: repeat(4, 1fr);
    }
}

// Desktop & Laptop
@include mediaLg {
    
}

// Tablet & min labtop
@include mediaMd {
    main {
        text-align: center;
        line-height: 1;

        .lg-header {
            margin-bottom: 1rem;
        }
    }

    div.menu-branding,
    ul.menu-nav{
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 70vh;
        transform: translate3d(100%, 0, 0);
    }

    .menu-branding {
        height: 30vh;
        transform: translate3d(-100%, 0, 0);

        .portrait {
            width: 150px;
            height: 65%;
        }
    }

    .about-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        margin-bottom: 2rem;
    }
    .bio {
        margin: 1rem;
        h3 {
            padding: 1rem 0;
        }
    }
    .job {
        margin: 1rem 0;
        h5 {
            padding: .5rem 0;
        }
    }
    .project {
        grid-template-columns: repeat(2, 1fr);

        h3 {
            margin: .5rem 0;
        }

        h5 {
            margin: 1rem 0;
        }
    }
}

// Smartphons
@include mediaSm {
    .project {
        grid-template-columns: 1fr;
    }
}

