// Widescreen style
@include mediaXl {
    .project {
        grid-template-columns: repeat(4, 1fr);
    }
}

// Desktop & Laptop
@include mediaLg {
    
}

// Tablet & min labtop
@include mediaMd {

    .icons-prof {
        display: none;
    }
    main {
        text-align: center;
        line-height: 1.2;

        .lg-header {
            margin-bottom: 1rem;
        }
    }

    div.menu-branding,
    ul.menu-nav{
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 70vh;
        transform: translate3d(100%, 0, 0);
    }

    .menu-branding {
        height: 30vh;
        transform: translate3d(-100%, 0, 0);

        .portrait {
            width: 150px;
            height: 65%;
            margin: .2rem;
        }
        .prof {
            margin: .2rem 0;
        }
    }
    #home {

        h3.f-header {
            font-size: 2rem;
        }
        h1.lg-header {
            margin-top: 1rem;
            font-size: 3rem;
        }
        h2.sm-header {
            font-size: 1.4rem;
        }
        .icons {
            font-size: .8rem;
        }
    }
    h1.lg-header {
        margin-top: 5vh;
        font-size: 3rem;
    }
    .under-line {
        font-size: 2rem;
    }
    .about-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        margin-bottom: 2rem;
    }
    .bio {
        margin: 1rem;
        line-height: 1.5;
        h3 {
            padding: 1rem 0;
        }
    }
    .under-line {
        margin: 2rem 0;
        width: 100%;
    }
    .card {
        margin-top: 1rem;
    }
    h5 {
        padding: .5rem  0 1rem 0;
    }
       
    .about-info2 {
        grid-template-areas:
        'under under'
        'job1 job2'
        'job3 job4'
        'job5 job5'
        'job6 job6';
        grid-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);

        .job4 {
            grid-area: job4;
            margin: 0;
        }
    }
    .project {
        grid-template-columns: repeat(2, 1fr);

        h3 {
            margin: .5rem 0;
        }

        h5 {
            margin: 1rem 0;
        }
    }

    // Skills Section 
.about-info3 {
    display: grid;
    grid-template-areas:
    'under under'
    'job1 job2'
    'job3 job4'
    'job5 job6'
    'job7 job7'
    'job8 job9';
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);

    .job6 {
        width: 100%;
    }

    }
footer {

    &#main-footer {
    font-size: .75rem;
    }
}

}

// Smartphons
@include mediaSm {

    #home {
        line-height: 1.3;
        h3.f-header {
            font-size: 1.5rem;
        }
        h1.lg-header {
            margin-top: 1rem;
            font-size: 2.5rem;
        }
        h2.sm-header {
            font-size: 1.2rem;
        }
        .icons {
            font-size: .8rem;
        }
    }
    h1.lg-header {
        margin-top: 5vh;
        font-size: 2.5rem;
    }
    .under-line {
        font-size: 1.7rem;
    }
    .project {
        grid-template-columns: 1fr;
    }
    .icons-contact {
        h3 {
            display: block;
        }
    }
}
