@import 'config';
@import 'menu';

/* Reset style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include background;
    font-family: 'Montserrat', sans-serif;
    color: set-text-color($primary-color);
    line-height: 1.5;
    height: 100%;
    
}
/* Heading */
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-header {
        font-size: 4rem;
    }
    &.sm-header {
        margin-bottom: 1rem;
    }
}
.text-secondary {
    color: $secondary-color;
}

a {
    color: #ccc;
    text-decoration: none;
}
header {
    position: fixed;
    z-index: 2;
    width: 100%;
}
main {
    padding: 4rem;
    //height: 100vh;
    min-height: calc(100vh - 2rem );
    .icons {
        margin-top: 1rem;

        a {
            padding: 0 .5rem 0 0;
            transition: all 1s ease;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }
    &#home {


      h3 {
          margin-top: 20vh;
          font-size: 2rem;
          margin-bottom: 0;
          display: inline-block;
      }
      h1 {
          font-size: 3.5rem;
      }
    }
}

// About Page Style 
#bg-image-all {
    @include backgroundOther;
}
#about {
    h3 {
        .add-letter{
            font-size: 1.5rem;
        }
    }
}
.about-info {
    display: grid;
    grid-template-areas:
    'bioimg bio bio'
    'under under under'
    'job1 job2 job3';
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);

    .bio-img {
        grid-area: bioimg;
        width: 180px;
        object-fit: cover;
        object-position: top;
        margin: auto;
        height: 180px;
        border-radius: 50%;
        border: solid $secondary-color;
    }
    .under-line {
        grid-area: under;
        text-align: center;
        text-transform: uppercase;
        border-bottom: solid 1px;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    .bio {
        grid-area: bio;
        font-size: 1.1rem;
        font-weight: 500;
    }
    .job1 {
        grid-area: job1;
    }
    .job2 {
        grid-area: job2;
    }
    .job3 {
        grid-area: job3;
    }
    .card {
        padding: 1rem;
        background: $primary-color;
        border-bottom: solid $secondary-color;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.24);
        margin-bottom: 2rem;
        position: relative;
        ul {
            font-size: 1rem;
            padding: 0 0 0 .9rem;
            margin: 0;
            li {
                padding: .5rem 0;
            }
        }
        .date {
            display: flex;
            justify-content:left;
            align-items: flex-end;
            padding: 0;
            height: 40px;
            margin-top: .5rem;
            margin-bottom: 0;
            color: darken($primary-sec-color ,6) ;
        }

        h5 {
            margin: .5rem 0;
        }
        p {
            font-size: .9rem;
        }
    }
}

// New Section with Grid
.about-info2 {
    display: grid;
    grid-template-areas:
    'under under under under'
    'job1 job2 job3 job4'
    'job5 job5 job6 job6';
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);

    .job4 {
        grid-area: job4;
    }
    .job5 {
        grid-area: job5;
        position: relative;
        margin-bottom: 2rem;

        .lo-go {
            margin-top: 1.5rem;
            text-align: left;
            right: 40%;
            position: relative;
            width: 200px;
        }
    }
    .job6 {
        grid-area: job6;

        .lo-ud {
            position: relative;
            right: 20%;
            width: 150px;
        } 
    }

    .card {
        padding: 1rem;
        background: $primary-color;
        border-bottom: solid $secondary-color;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.24);
        margin-bottom:2rem;
    }
    .date {
        color: darken($primary-sec-color ,6) ;
    }
    .card-cert {
        text-align: center;
        margin-bottom: 2rem;
        position: relative;
        
        h5 {
            margin: .5rem;
        }
        .date {
            display: inline-block;
            padding: .5rem;
            color: $secondary-sec-color;
            margin-top: .5rem;
            margin-left: auto;
            margin-right: auto;
           
        }
    }
       div.cert {
           width: 105px;
           margin: 0 auto;

           img {
               display: block;
               width: 100px;
               height: 100%;
               margin-right: 0;
           }
           .cloud {
            width: 105px;

            }
       }

    .under-line {
        grid-area: under;
        text-align: center;
        text-transform: uppercase;
        border-bottom: solid 1px;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
}
// Section Grid Skills
.about-info3 {
    display: grid;
    grid-template-areas:
    'under under under under'
    'job1 job2 job3 job4'
    'job5 job6 job6 job7'
    'job8 job8 job9 job9';
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);

    .under-line {
        grid-area: under;
    }

    .job1 {
        grid-area: job1;
    }
    .job2 {
        grid-area: job2;
    }
    .job3 {
        grid-area: job3;
    }
    .job4 {
        grid-area: job4;
    }

    .job5 {
        grid-area: job5;
    }

    .job6 {
        grid-area: job6;
    }
    .job7 {
        grid-area: job7;
    }
    .job8 {
        grid-area: job8;
    }
    .job9 {
        grid-area: job9;
    }
    .under-line {
        grid-area: under;
        text-align: center;
        text-transform: uppercase;
        border-bottom: solid 1px;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    .card-cert {
        text-align: center;
        margin-bottom: 2rem;
        
        h5 {
            margin: .5rem;
        }

        .skill {
            img {
                width: 100px;
            }
            .lo-js {
                padding-top: 1rem;
            }
            .lo-py {
                width: 80px;
                padding-top: 1.5rem;
            }
            .lo-sa {
                width: 170px;
            }
            .lo-gi {
                width: 110px;
            }
            .lo-ci {
                width: 150px;
            }
            .lo-ju {
                width: 150px;
            }
    }
    }
    .job6 {
        margin:0 auto;
        width: 60%;
    }
}

// Project Page 
.project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

    h3 {
        margin: .2rem 0;
    }

    h5 {
        margin: .5rem 0;
    }

    img {
        background-size: cover;
        transition: all .3s ease;
      
        &:hover {
            opacity: 0.9;
            background: $primary-color;
            background-position: top;
            transition: all .3s ease;
        }
    
    }
    .work {
        padding: 1rem;
        background: $primary-color;
        border-bottom: solid $secondary-color;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.24);

    }
}

// Contact Page 

#contact {
 

    .contact-box {
        display: flex;
        flex-direction: column;
        height: 40vh;
        justify-content: center;

        .box {

            span {
                font-weight: 600;
            }
        }
    }
}
.icons-contact {
    h3 {
        display: inline-block;
        margin-bottom: .8rem;
        margin-right: .5rem;
        font-weight: 600;
    }

    .fab {
        font-size: 1.8rem;
        margin-right: .5rem;
        @include easeOut();

        &:hover {
            color: $secondary-color;
            @include easeOut();
        }
    }
}

// Button style
.btn {
    display: block;
    width: 100%;
    padding: .2rem 0 .2rem 0;
    @include easeOut();

    &:hover {
        background: darken($secondary-color,9) ;
        @include easeOut();
        color:  darken($primary-color, 6);
    }

}
.btn-light {
    @extend .btn; 
}
.btn-dark {
    @extend .btn; 
}

#main-footer {
    height: 15vh;
    text-align: center;
    position: relative;
    padding: 2rem;
    background: darken($primary-color, 10);
    font-size: .9rem;

   
    
}
// Our Media At End for it take place! 
@import 'mobile';