@import 'config';
@import 'menu';

/* Reset style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include background;
    font-family: 'Montserrat', sans-serif;
    color: set-text-color($primary-color);
    line-height: 1.5;
    height: 100%;
}
/* Heading */
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-header {
        font-size: 4rem;
    }
    &.sm-header {
        margin-bottom: 1rem;
    }
}

a {
    color: #ccc;
    text-decoration: none;
}
header {
    position: fixed;
    z-index: 2;
    width: 100%;
}
main {
    padding: 4rem;
    //height: 100vh;
    min-height: calc(100vh - 2rem );
    .icons {
        margin-top: 1rem;

        a {
            padding: 0 .5rem 0 0;
            transition: all 1s ease;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }
    &#home {

      h1 {
          margin-top: 20vh;
      }
    }
}

// About Page Style 
.about-info {
    display: grid;
    grid-template-areas:
    'bioimg bio bio'
    'job1 job2 job3';
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);

    .bio-img {
        grid-area: bioimg;
        width: 180px;
        object-fit: cover;
        object-position: top;
        margin: auto;
        height: 23vh;
        border-radius: 50%;
        border: solid $secondary-color;
    }
    .bio {
        grid-area: bio;
        font-size: 1.1rem;
        font-weight: 500;
    }
    .job1 {
        grid-area: job1;
    }
    .job2 {
        grid-area: job2;
    }
    .job3 {
        grid-area: job3;
    }
    .job {
        padding: 1rem;
        background: $primary-color;
        border-bottom: solid $secondary-color;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.24);

        h5 {
            margin: .5rem 0;
        }
        p {
            font-size: .9rem;
        }
    }
}

// Project Page 
.project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

    h3 {
        margin: .2rem 0;
    }

    h5 {
        margin: .5rem 0;
    }

    img {
        background-size: cover;
        transition: all .3s ease;
      
        &:hover {
            opacity: 0.9;
            background: $primary-color;
            background-position: top;
            transition: all .3s ease;
        }
    
    }
    .work {
        padding: 1rem;
        background: $primary-color;
        border-bottom: solid $secondary-color;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.24);

    }
}

// Button style
.btn {
    display: block;
    width: 100%;
    padding: .2rem 0 .2rem 0;
    @include easeOut();

    &:hover {
        background: darken($secondary-color,9) ;
        @include easeOut();
        color:  darken($primary-color, 6);
    }

}
.btn-light {
    @extend .btn; 
}
.btn-dark {
    @extend .btn; 
}

#main-footer {
    text-align: center;
    padding: 2rem;
    background: darken($primary-color, 10);
}
// Our Media At End for it take place! 
@import 'mobile';