@import 'config';
@import 'menu';

/* Reset style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include background;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    line-height: 1.5;
    height: 100%;
}
/* Heading */
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-header {
        font-size: 4rem;
    }
    &.sm-header {
        margin-bottom: 1rem;
    }
}

a {
    color: #ccc;
    text-decoration: none;
}
header {
    position: fixed;
    z-index: 2;
    width: 100%;
}
main {
    padding: 4rem;
    height: 100vh;

    .icons {
        margin-top: 1rem;

        a {
            padding: 0 .5rem 0 0;
            transition: all 1s ease;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }
    &#home {

      h1 {
          border: solid;
          margin-top: 20vh;
      }
    }
}